
* {
    background: black;
    color: #ccc;
}

.boton {
    background-color: blueviolet;
    color: #fff;
}

img {
    height: 250px;
    width: 250px;
    margin: 40px;
    border: ridge 10px;
    border-color: indigo;
}
